
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');



:root {
    --body-color: 
    linear-gradient(217deg, #598349, #838149 70.71%), 
    linear-gradient(127deg, #598349, rgba(0,255,0,0) 70.71%), 
    linear-gradient(336deg, #838149, rgba(0,0,255,0) 70.71%);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #__next {
    width: 100%;
    height: 100%;
}
a{
    padding-left:24px;
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
    transition: 0.2s;
}
.site {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    background: var(--body-color);

    .site__wrapper {
        width: 968px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }

    .site__menu {
        
        height: 80px;
        padding-top: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        .menu__logo {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;

            .logo__text{
                font-size: 24px;
                color: white;
                font-weight: 700;
                display: inline-block;
                margin-left: 24px;
            }
        }
    }

    .content__category{
        display: flex;
        justify-content: space-around;
    }

    .site__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        .content__slider {
            height: 460px;
            border: 3px dashed rgb(255 255 255 / 25%);
        }
    }
}
